<div class="sidenav">
 <div class="container">
    <a href="/">
    <i class="fa-solid fa-desktop fa-lg" style="color: #1fdb89;"></i>
    Dashboard
  </a>
  <a href="/settings">
   <i class="fa-solid fa-gear fa-lg" style="color: #1fdb89;"></i>
    Sozlash
  </a>
  <a href="/reports">
    <i class="fa-solid fa-list-check fa-lg"style="color: #1fdb89;"></i>
    Hisobotlar
  </a>
 </div>
</div>


